.a{fill:white;}
.b{fill:none;}
.c, .lawn{fill:#7ED321;}
.d, .sky{fill:#4990E2;}
.e, .sun{fill:#F8E81C;}
.primary{fill: floralwhite;}
.f, .highlight{fill:deeppink;}
.g{fill:brown;}
.h, .secondary {fill:firebrick;}
.i{fill:#D8D8D8;stroke:#979797;}
.j, .highlight{stroke-width:2;stroke:deeppink;}
.k{stroke-width:9;stroke:#8B572A;}
.l{fill:#417505;}

.pic .car {
  transform: translate(18px, 195px) scale(0.7);
  transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.pic.night .car {
  transform: translate(40px, 250px) scale(0.3);
}

.pic.night .car .carriage{
  fill: none;
  stroke: none;
}

.pic .night .car .pumpkin {
  fill: #F6A623;
}